<section class="contact-form-section">
    
    <h2 class="text-center my-4">Get in touch!</h2>
    
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="form-group col">
                <label for="name">Name</label>
                <input type="text" class="form-control" formControlName="name">
            </div>
            <div class="form-group col">
                <label for="email">E-mail</label>
                <input type="email" class="form-control" formControlName="email">
            </div>
            <div class="form-group col-md-12">
                <label for="subject">Subject</label>
                <input type="text" class="form-control" formControlName="subject">
            </div>
            <div class="form-group col-md-12">
                <label for="comment">Comment</label>
                <textarea rows="4" class="form-control" formControlName="comment"></textarea>
            </div>
            <div class="form-group col-md-12 text-center">
                <button class="btn" type="submit">Submit</button>
            </div>
        </div>
    </form>
</section>